[2016-05-03 10:59] MrMikeJJ opened #1 "7z - unknown archive exception"
Hi,
Thank you for the nuget package and wrapper :)
I have come across a little issue trying to open a 7z archive, it throws the exception
7z is not a known archive type

If i rename the archive to .SevenZip it then works. So guess it's just a problem with detecting the type from the file extension ?

thanks
Mike

[2016-05-04 15:42] adoconnection commented on #1
Hi Mike!
Thanks for report. Exactly. I'll fix it tomorrow

[2016-05-05 18:55] adoconnection commented on #1
done, also new it turns out 7z supports more formats :)

[2016-05-05 18:56] #1 closed

[2016-05-24 11:59] Leminkainen opened #2 "Extracted files are locked"
Extracted files are locked in my scenario:
when extracting files one by one in foreach and trying to open them, access is denied.

The problem is in Entry.cs ( https://github.com/adoconnection/SevenZipExtractor/blob/master/SevenZipExtractor/Entry.cs )

[code]

which has to be changed to something like below (or other disposal variant) to prevent the locking

[code]
By the way, thanks for the great

[2016-07-14 16:18] adoconnection commented on #2
It's been a long time :)

Thank you for report, fixed code and nuget package

[2016-07-14 16:18] #2 closed

[2017-05-31 15:26] pwallner opened #5 "cannot extract deb file"
Hi,

I use this code, but I get an exception (tried several different deb files):
[code]
`Object reference not set to an instance of an object. `

What's wrong?

[2017-05-31 17:15] adoconnection commented on #5
Can you attach this specific file? (if possible)

[2017-06-01 05:36] pwallner commented on #5
Sure, here it is.

please rename it to test.deb.

[test.deb.txt](https://github.com/adoconnection/SevenZipExtractor/files/1043773/test.deb.txt)

[2017-06-05 05:54] Onkelborg opened #6 "License?"
Could you clarify what license this project uses?

(I can't find it anywhere - the code project article this project emerged from is MIT licensed, but I can't take that for granted for this project.)

[2017-06-05 12:06] adoconnection commented on #6
Hi, I've updated readme.md

[2017-06-05 12:41] adoconnection commented on #5
Hi, still have no time to check myself :(

[2017-06-09 08:39] Guy--L opened #7 "nuget package is constrained to net45"
Package SevenZipExtractor 1.0.5 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package SevenZipExtractor 1.0.5 supports: net45 (.NETFramework,Version=v4.5)
One or more packages are incompatible with .NETCoreApp,Version=v1.0.
Package restore failed. Rolling back package changes for 'needyproject'.
Time Elapsed: 00:00:02.8476243
========== Finished ==========

[2017-06-13 10:01] adoconnection commented on #7
Hi, not sure if this approach is working with Core as this library is only a wrapper with marchaling and WinApi.

However my quick research tells Core has all the marchaling functionality.
Do you run your core app under windows?

[2017-06-13 10:02] #6 closed

[2017-06-20 08:18] Quinity commented on #7
I didn't get SevenZipExtractor to work with .NET Core.
I'm using the .NET Core 2.0 preview, where you can reference .NET Framework libraries, since they implement the same .NET Standard version (here: 2.0).
Unfortunately, calling `ArchiveFile(MemoryStream, Format)` either leads to `AccessViolationException` or `ExecutionEngineException`, both which are low level errors.

[2017-06-21 09:53] adoconnection commented on #7
Maybe we can translate 7z to c# and solve this pain one and for all?

[2017-06-22 16:19] BrewmeisterP opened #8 "Can't instantiate SevenZipExtractor object using file name with no extension"
Trying to call this...
     Public Sub New(archiveFullName As String)
with this...
     Dim SevenZipEx As SevenZip.SevenZipExtractor = Nothing
     SevenZipEx = New SevenZip.SevenZipExtractor("C:\Temp\test")
Results in this exception...
     		startIndex cannot be larger than length of string." & vbCrLf & "Parameter name: startInde"

[2017-06-22 16:28] adoconnection commented on #8
Hi, you write in wrong github repo :)
ZevenZip (https://sevenzipsharp.codeplex.com/) is no longer supported.

this is another project to fix this.
do:
Install-Package SevenZipExtractor

using (ArchiveFile archiveFile = new ArchiveFile(@"yourFilePath", SevenZipFormat.Rar))
{
    archiveFile.Extract("Output"); // extract all
}

[2017-06-22 16:40] BrewmeisterP commented on #8
Thanks!

From: Alexander [mailto:notifications@github.com]
Sent: Thursday, June 22, 2017 11:29 AM
To: adoconnection/SevenZipExtractor <SevenZipExtractor@noreply.github.com>
Cc: BrewmeisterP <pat@reddyss.com>; Author <author@noreply.github.com>
Subject: Re: [adoconnection/SevenZipExtractor] Can't instantiate SevenZipExtractor object using file name with no extension (#8)

Hi, you write in wrong git

[2017-06-25 12:01] #8 closed

[2017-06-30 10:32] pwallner commented on #5
Any news?

[2017-07-05 08:39] adoconnection commented on #5
it was actually quite easy:
[code]

1.0.6 nuget package pushed

[2017-07-05 08:40] #5 closed

[2017-10-24 07:52] lka1976 opened #11 "arj when changing a computer"
I transferred the program to another computer, SevenZipExtractor stopped opening arj archives (does not see files in them)

[code]

[2017-10-24 09:09] adoconnection commented on #11
You are using this nuget package v1.0.7 right?
First thing I would check is seven zip binaries. Make sure 7z-x64.dll and 7z-x86.dll are near your executable.

[2017-10-24 10:26] lka1976 commented on #11
really was not dll
but the problem remained ...
compiled on 1 computer program is now working on any.
on 2 computers after compilation there is an exception
`System.AccessViolationException: "Attempting to read or write to protected memory .This often indicates that other memory is corrupt."`

[code]

[2017-11-02 11:34] adoconnection commented on #11
@lka1976 can you please try latest SevenZipExtractor v1.0.10?

[2017-11-02 15:58] adoconnection commented on #7
@Guy--L can you please test latest v1.0.10 nuget package?

[2017-11-09 07:08] lka1976 commented on #11
Good afternoon!
the installation of 1.0.10 with NUGET did not help.
I uninstalled the package, copied SevenZipExtractor.dll from the working version and made a link to it. The program worked ..

[2017-11-17 02:25] toddjames commented on #6
@adoconnection Thanks for the library and thanks for choosing the MIT license.

Just a suggestion: you should include a `LICENSE` file in your repo. This is standard practice and if you follow the [GitHub instructions to do so](https://help.github.com/articles/adding-a-license-to-a-repository/), you'll end up with your project tagged as MIT-licensed on the GitHub UI.

I almost opened an identical

[2017-11-17 19:33] adoconnection commented on #6
OK, thank you for feedback

[2017-11-21 15:51] Kaon68 commented on #7
I've tested v1.0.10 with a .NET Standard 1.4 project.
No warn about compatibility of this package with .NET Standard

No .Net Standard dll in package to reference, 7z.dll are added but not SevenZipExtractor.

[2017-11-22 12:37] adoconnection commented on #6
@toddjames done
https://github.com/adoconnection/SevenZipExtractor/blob/master/LICENSE

[2017-11-22 12:38] adoconnection commented on #7
@Kaon68 do you know how to fix it?

[2017-11-22 12:55] Kaon68 commented on #7
I don't know how nuget package are done, but you need to include a version of your dll(s) for every .net framework subset you want to be compatible. I advise you to turn to .Net Standard as it is multi platform.

For nuget package config, you'll have to search ^^

PS : for now, I looked at another 7z package which is .net standard compatible.

[2017-12-01 15:28] dalbani commented on #7
@Kaon68: did you evenutally find such .NET Standard compatible package?

[2018-01-11 20:13] dviljoen opened #16 "Extracting a file from a .deb file"
I'm trying to extract a single file from a debian package.  I extract the top level and it has two tar.xz files (control.tar.xz and data.tar.xz).  The file I want is in data.tar.xz.  I can create a new ArchiveFile instance of it, but it has only one entry (I'm assuming its data.tar), but the entry has no filename.  This seems to prevent me from extracting it.

How do you either: 1) recursively ext

[2018-01-11 20:14] dviljoen commented on #16
By the way, I can extract everything I need using the command-line tool, or shell extensions.

[2018-02-09 11:23] MrMikeJJ opened #17 "Rebase of later version"
Hi,
In the main page, you mention that this is based of the CodeProject page (latest version of it on there is 1.5).
On website of the guy who originally made it, he did a "new" version in December 2008, with the following comments . . .
2.0 - Packing support introduced, added support for the latest 7-zip version (4.60+), demo updated to show basic packing principles
Update (2.0): Now demo can cre

[2018-02-12 09:13] adoconnection commented on #17
Hi, I'll check whats new. Thank you for pointing out 👍

[2018-02-18 18:07] BobbyGR opened #18 "Redistribute permissions"
Hello! I have a project AIOMiner (https://github.com/BobbyGR/AIOMiner) and I would like to use SevenZipExtractor as the primary extractor for items that are needed.   Let me know what is needed.  also great job on this!

[2018-02-19 08:23] adoconnection commented on #18
SevenZipExtractor it under MIT licence
7z dlls are under GNU LGPL
basically you can do whatever you want :)

[2018-02-19 08:24] adoconnection commented on #16
Hi, not to make it silent here, probably noone have ever tried it

[2018-03-05 17:30] #18 closed

[2018-03-05 17:52] BobbyGR commented on #18
Didn't see this until now.  Thanks, just making sure.  I'll make sure you are in the credits.  Thanks again

[2018-03-08 12:11] muffmolch opened #20 "extraction multi file zip archive -> failes"
As it seems SevenZipExtractor cannot handle multi file archives, can it?

`
File.7z.001
File.7z.002
File.7z.003
`

`
using(ArchiveFile archiveFile = new ArchiveFile("File.7z.001")) {
   archiveFile.Extract(extractPath); // extract all
}`

-> exception

[2018-03-10 14:29] adoconnection commented on #20
Interesting.

Every entry appears to have at least two properties, indicating the entry is split: IsSplitBeforeand IsSplitAfter  (update to 1.0.12 to see these properties)
If, for example, IsSplitBefore = true, this means the beginning of entry is in previous parts of archive.

simple entry.Extract(); is not working. My quick guess – to extract one entry one have to locate all parts first and merg

[2018-03-10 14:30] adoconnection commented on #20
[code]

[2018-03-17 11:21] rsarov opened #21 "Extract file from VHD does not work"

[2018-04-10 14:56] AyratShigapov commented on #20
![image](https://user-images.githubusercontent.com/19193133/38564761-72c30b0a-3ce8-11e8-8807-36e399e51d51.png)

Добрый день.
Для открытия многофайлового архива достаточно открыть первый архив?

[2018-07-08 19:12] Toxaris-NL opened #23 "Extract to stream when entry is in folder"
I try to extract an entry to a memorystream, but this fails if the entry is in a directory in the archive.

My code is this:

[code]

This code works fine when the entry is in the root of the archive. Is there a way to make this work without resorting to extracting to file?

[2018-07-19 16:38] adoconnection commented on #23
Looks like a bug, thanks for repotring

[2018-09-18 21:50] geneb opened #25 "Minimal example doesn't work..."
The sample code below does nothing but throw this exception:
System.InvalidCastException: 'Unable to cast object of type 'System.UInt32' to type 'System.UInt64'.'
.. where it attempts to display the number of files in the archive.  I installed version 1.0.12 via the NuGet PM in Visual Studio 2017.

[code]

Suggestions?
tnx.

g.

[2018-09-19 14:40] geneb commented on #25
I suspect this is due to the project being created as a console application for .Net Core 2.1 - it doesn't happen using .Net 4.7.1.  Sorry for the noise.

[2018-10-15 12:02] bigrck64 opened #27 "SevenZipCompactor ?"
Hello Adoconnection,

Thanks for this project, it's the only c# 7z.dll wrapper that is working fast, without cpu high usage or memory leak !
Have you any plan to add one simple "Add files to archive" interface ? You can do it with the current 7z.dll :)
It would be great ! :+1:

Cheers

[2018-10-16 09:49] adoconnection commented on #27
Hi, thanks for support. At this point I dont have such plans since other projects consuming all the time. :(

[2018-10-16 13:09] bigrck64 commented on #27
No problem, thanks for repling :)

[2018-10-17 22:03] geneb commented on #25
It actually appears to be related to ARJ files.
I stepped through the code in order to find the point where the exception was being triggered - in this case it's simply, "Specified cast is not valid".

I've been able to trace it as far as the routine starting at line #209 in ArchiveFile.cs:
     private T GetProperty<T>(uint fileIndex, ItemPropId name)
        {
            PropVariant propVariant

[2018-10-18 11:09] adoconnection commented on #25
Hi, there is a pull request from @sudoudaisuke
I have not yet merged (sorry for that)
https://github.com/adoconnection/SevenZipExtractor/pull/22/commits/b9a7b0d1750dab838bba5bb188894a6751189653

It solve exactly this problem.

[2018-10-18 15:47] geneb commented on #25
It's nice to see the fix is so simple. :)  Any ETA on when you'll be able to do the merge?

tnx!

g.

[2018-10-19 15:39] geneb commented on #25
I just tried that patch by hand and it /almost/ works.  Now it reaches line 180 in ArchiveFile.cs:
string method = this.GetProperty<string>(fileIndex, ItemPropId.kpidMethod);
This triggers the exception "Cannot Convert type 'byte' to 'string'".
The variable propVariant.VarType in the GetProperty method is set to VT_UI1 at this point.
is the Method property actually supposed to be a string?  I can'

[2018-10-22 12:47] geneb commented on #25
I could have sworn I updated this last week.  The issue happened again with a different variable and archive type, so I just commented out the section that assigned the Method value entirely so I could continue my work.

g.

[2018-10-22 12:51] geneb commented on #25
Apparently the edit I did last week didn't take - nor did the comment I /just/ added seem to appear.  I'll try again.
I ran into the same type conversion issue with a different type and decided to just comment out the Method assignment entirely so I could continue my work.  At some point it should be investigated to see why on earth the 7Zip API seems to return different variable types for the sam

[2018-11-08 02:33] bemaru opened #28 "is not support password?"
i run benchmark, the archivefilename assigned to encrypted 7z file required to password
and then output error, unable to read archive.

[2019-01-03 20:42] Miles8of9 commented on #25
Hi, sorry to disturb you, feel free to delete this comment if it violates your rules. I've hit this bug with arj files today. I see this issue is open since several months. Any chances it will be fixed any time soon? I would really need it. I've looked around but didn't find any other libraries that can read and uncompress .arj files.
Thanks for your understanding and your help.

[2019-01-10 08:42] adoconnection commented on #25
@Miles8of9 hi, thanks for reminding about this. I will fix this till weekend.

[2019-02-17 08:01] Reli-AS opened #29 "Unable to open CAB archive"
Hi,

I would like to open a cab file, as it written to be supported.
I get this error: "Unable to open archive".

do you knwon why?

Thanks!

[2019-02-17 12:48] tal12345 opened #30 "SevenZipExtractor.SevenZipException: '7z.dll not found'"
SevenZipExtractor.SevenZipException
  HResult=0x80131500
  Message=7z.dll not found
  Source=SevenZipExtractor
  StackTrace:
   at SevenZipExtractor.ArchiveFile.InitializeAndValidateLibrary()
   at SevenZipExtractor.ArchiveFile..ctor(Stream archiveStream, Nullable`1 format, String libraryFilePath)
   at ConsoleApplication87.Program.Main(String[] args) in C:\temp\Zip\SevenZipExtractor-master\SevenZ

[2019-02-20 08:27] Sublihim opened #31 "Very slowly on large 7z archives"
I have an archive larger than 1Gb. The archive contains about 3500 files. The largest file in the archive is about 6 Gb.

I use:
[code]

In comparison with a regular 7z extractor, it works hundreds of slower

[2019-03-15 08:00] copa017 commented on #25
another reminder 😉

but anyways, I want to THANK YOU developers very much for your work!

[2019-04-18 15:27] ceddlyburge opened #32 "Reliance on "C:\Program Files\7-Zip""
Hi there

We have just started using this, and it appears to be the case that it relies upon 7-Zip being available at "C:\Program Files\7-Zip".

Our deployed app wasn't working, and this was the way we found to fix it. Copying the files in to the same directory as our executable didn't work, and neither did installing 7-zip in to a different location.

Cheers

Cedd

[2019-05-25 00:59] fiddyschmitt opened #33 "Unable to open vmdk file"
7-Zip can open vmdk files, however when I try to open them with SevenZipExtractor it throws an exception "Unable to guess format automatically".

Any thoughts on how to get it to work?

Thank you,
Fidel

[2019-05-27 14:24] adoconnection commented on #33
Hi, SevenZipExtractor guess  format by first bytes of file.
see FileSignatures: https://github.com/adoconnection/SevenZipExtractor/blob/master/SevenZipExtractor/Formats.cs

if you can add signature for vmdk, SevenZipExtractor will start guessing it.

[2019-05-27 14:27] adoconnection commented on #32
Rather late reply.

All logic is located in InitializeAndValidateLibrary
https://github.com/adoconnection/SevenZipExtractor/blob/master/SevenZipExtractor/ArchiveFile.cs

First we try to find binaries in working folder, then in programm files.
Make sure you have SevenZip binaries on any of those paths.

[2019-05-27 14:28] adoconnection commented on #30
I think its just benchmark app is outdated :(

[2019-05-27 14:30] adoconnection commented on #31
This should be investigated closely.
As you can see in Extract method of Entry class, there is no special C# logic there, just passing stream.
https://github.com/adoconnection/SevenZipExtractor/blob/master/SevenZipExtractor/Entry.cs

My guess it is something related to SevenZip

[2019-05-27 14:32] adoconnection commented on #29
its just SevenZip can't open it for wahtever reason.

[2019-05-28 02:42] fiddyschmitt commented on #33
Hi ado. A big thanks for your efforts on the project. It's very useful.

Rather than hard-coding the supported formats, I'm wondering if the native DLL exposes a method which returns true if the file is supported...

[2019-05-28 09:14] ceddlyburge commented on #32
Thanks! That code does look like it works, but I'm sure it didn't for us. Copying the files in to the same directory as the app seemed like the most obvious solution, so this is what we did first. Maybe we had the wrong dlls or something.

[2019-05-28 09:14] #32 closed

[2019-06-05 11:36] roy-van-de-korput opened #34 "DateTime of compressed files are not restored when extracting"
When extracting (file by file or whole archive directly), the file stamps of the entries are not updated to the original time in the archive. Every file will have it's last write time set to extracted time.

[2019-07-31 11:59] MisiekPushUpek opened #35 "Dll downloaded from nuget doesn't extract LZH file"
When using dll from nuget package in version 1.0.12 extraction from lzh file doesn't work (0 entries and Exception).
When I get a dll from repository (exemple project) everything works perfect.
Please update nuget version of library.

[2019-07-31 13:27] adoconnection commented on #35
Hi, done

https://www.nuget.org/packages/SevenZipExtractor/1.0.13

[2019-07-31 13:39] adoconnection commented on #35
Added LZH unit test

[2019-07-31 13:39] #35 closed

[2019-07-31 13:53] adoconnection commented on #34
Should it be default behavior?
as I can see in ArchiveFile.Extract and IInArchive.Extract its not now

[2019-07-31 20:55] roy-van-de-korput commented on #34
Yes, default behavior. If I use other libraries in c# they restore the datetime. Also the case for GUI tools like 7zip or winrar. They also restore the datetime

[2019-08-06 09:24] nocelab commented on #31
I confirm this behaviour with 7z archive with solid block of 4GB... very very slow!
The same contents compressed with 7z archive without solid block is fast... hope this can help

[2019-08-06 09:30] adoconnection commented on #31
@nocelab are you extracting all files or just several specific?

can you please try, if this extract work the same way or not for you?

[code]

[2019-08-06 14:47] nocelab commented on #31
Yes, it works!
This is result (extract all 7477 files):
- non solid archive (56.7MB):

   - method "archiveFile.Extract": 30"
   - method "foreach (Entry entry ...": 38"

- solid block (4GB) archive (42.7MB):
   - method "archiveFile.Extract": 28"
   - method "foreach (Entry entry ...": 3h46'07" 😱😱😱

[2019-08-06 15:48] adoconnection commented on #31
thats because foreach starts seeking entry from beginning of archive every time when archiveFile.Extract commands 7Z to just extract everyting

@Sublihim I guess you have the same problem

[2019-08-06 15:48] #31 closed

[2019-08-07 06:14] nocelab commented on #31
sorry but... is not possibile a compromise if I need extract several files without extract entire archive?

[2019-08-07 08:57] adoconnection commented on #31
@nocelab no problem:
using (ArchiveFile archiveFile = new ArchiveFile(@"Archive.ARJ"))
{
    archiveFile.Extract( entry => {
           if (mySpecialFiles.Contains(entry.FileName))
           {
                  return Path.Combine(outputFolder, entry.FileName); // where to put this particular file
           }
           else
           {
                 return null; // null means skip and do no

[2019-08-07 09:40] nocelab commented on #31
Excellent... it works very well!!!
Please add it into README.md, it's important for not C# experts (like me!!!).
Thanks!

[2019-08-07 10:41] adoconnection commented on #31
ok :)

[2019-10-22 19:12] pwallner opened #36 "Error "Dynamic operations can only be performed in homogenous AppDomain""
With version 1.0.13 (not with 1.0.12), I got this error when used in conjuction with this app.config setting:
[code]
The full error I get is:
[code]
If I remove the app.config setting, everything works great. Is there a chance to make these working?

Thanks!

[2019-10-24 11:01] adoconnection commented on #36
@pwallner published nuget 1.0.14, now should work fine for NetFx40_LegacySecurityPolicy=true

[2019-10-26 08:12] pwallner commented on #36
Thank you very much!

[2019-10-26 08:15] #36 closed

[2020-01-10 14:45] mefmund opened #37 "Versions 1.0.10 to 1.0.14 doesn't work"
I install latest version SevenZipExtractor using nuget and I was trying the example code, but i have error

I checked few more versions and problem diapers when i change version to 1.0.09

I'm using .net core 3.1

[2020-01-10 15:45] adoconnection commented on #37
Hi, I think it is some sort of nuget compilation issue.
It will not work if installed as nuget package, however if I download sources and reference SevenZipExtractor as a project - it works.

thanks for reporting!

[2020-01-13 21:24] WojciechNagorski commented on #37
I fixed this problem in PR #38

[2020-01-13 21:28] WojciechNagorski commented on #7
I think that this issue should be fixed in PR #38.

[2020-01-15 07:04] mefmund commented on #37
Confirmed. Version 1.0.15 is working.

[2020-01-15 07:04] #37 closed

[2020-01-15 07:11] mefmund opened #40 "Cannot extract kernel package"
I'm trying to extract tar.xz package downloaded from kernel.org (https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.4.12.tar.xz)
ArchiveFile object has one entry but all fields are null
![image](https://user-images.githubusercontent.com/23142365/72412619-1830c100-376e-11ea-89a6-af09526ad19e.png)

[2020-01-15 09:30] adoconnection commented on #40
its because tar.xz is actually two archive files:
1. tar packs all files and folders into one so called tarball file without compression
2. xz does compression

so to unpack you need to perform same operations in reverse:

[code]

this code is somewhat unefficient as it creates unpacked file copy in a memory, but it is ok for small files

[2020-01-15 10:36] adoconnection commented on #40
started a wiki: https://github.com/adoconnection/SevenZipExtractor/wiki/Extract-tar.gz,-tag.xz

[2020-01-15 10:37] adoconnection commented on #31
wiki for future visitors: https://github.com/adoconnection/SevenZipExtractor/wiki/Extracting-from-solid-archives

[2020-01-15 13:09] #7 closed

[2020-01-15 13:10] #11 closed

[2020-01-15 13:11] adoconnection commented on #16
https://github.com/adoconnection/SevenZipExtractor/wiki/Extract-tar.gz,-tag.xz

[2020-01-15 13:11] #16 closed

[2020-01-15 13:34] adoconnection commented on #23
Actual tests cover extracting entry from folder to memory stream.
I would like to lose this issue.

[2020-01-15 13:34] #23 closed

[2020-01-15 13:37] adoconnection commented on #25
- Initial problem with ANSIMATE.ARJ is covered by test, (it works for me)
- Cannot Convert type 'byte' to 'string' is known to be resolved

Closing for now. Please reopen if problem remains.

[2020-01-15 13:37] #25 closed

[2020-01-15 13:43] adoconnection commented on #21
confirmed problem

[2020-01-15 13:46] adoconnection commented on #30
@WojciechNagorski did new benchamark app.

[2020-01-15 13:47] #30 closed

[2020-01-15 13:48] adoconnection commented on #33
someone need to dive into 7zip and see if this possible

[2020-02-01 21:15] #40 closed

[2020-04-25 12:49] adoconnection opened #41 "Making SevenZipExtractor work on linux"
There are a Windows-specific API calls that prevent running SevenZipExptractor on Linux:
https://github.com/adoconnection/SevenZipExtractor/blob/master/SevenZipExtractor/Kernel32Dll.cs

This code may do the trick:
https://stackoverflow.com/questions/13461989/p-invoke-to-dynamically-loaded-library-on-mono
https://github.com/gordonmleigh/Stugo.Interop

[2020-05-25 01:49] tonyp7 opened #42 "MemoryStream's position is at the end"
Not really a bug per say, but if you do:

[code]

Then you cannot do memoryStream.Read; simply because the position of the stream is at the end. So now you have to do:

[code]
Before you can use the stream. I got bitten by this. It's not a bug but it's very counter intuitive and goes against typical designs we see elsewhere.

[2020-05-25 17:43] adoconnection commented on #42
There is a small chance someone would extract to ResponseStream of web server where position change is not possible an will introduce hidden behavior.

I have exactly opposite experiece: every time I work with MemoryStream I need to keep an eye on its position, whether its set to 0 or not :)

[2020-05-26 02:09] tonyp7 commented on #42
OK -- I trust your judgement on this. Thank you for making this awesome lib available to us!

[2020-05-26 02:09] #42 closed

[2020-05-26 07:51] adoconnection commented on #42
@tonyp7 thanks for kind words

[2020-05-26 17:24] LoChiquette commented on #41
Hello, I've been looking into that a bit but from my understanding SevenZipExtractor is a wrapper over 7z native dlls. I couldn't find any 7z libs for linux aside p7zip that is not supported anymore and stopped receiving updates in 2016. Are you aware of other options to use SevenZipExtractor on linux?

The Kernel32dll is to load the 7z assembly so even if we achieve to be able to load a library,

[2020-05-27 09:45] adoconnection commented on #41
In my understanding as long as 7z DLL does nothing platform specific it should work in both Linux and Windows.

Its all up to one experiment: simple console app PoC

[2020-10-06 20:54] rabanti-github opened #44 "Bzip2 archives cannot be extracted"
It looks like bizp2 archives (.bz2) cannot be extracted at all.
I tested the extraction, using the example program:
[code]
The format is guesses as expected as `Formats.BZip2` and the number of containing entries are also correct.
However, in the method `entry.Extract(entry.FileName);`, the enclosed files cannot be extracted.
The problem occurs in the [line 104 of ArchiveFile.cs](https://github.co

[2020-10-07 10:40] adoconnection commented on #44
thanks for detailed info!

[2020-10-11 18:03] pwallner opened #45 ".NET 5"
Any plans to port to .NET5? Would be great!

Thx
Patrick

[2020-10-12 13:55] adoconnection commented on #45
As long as I can see, its a matter of typing
[code]
in project file, so of course I will do that after 5.0 release :)

[2020-10-12 18:42] pwallner commented on #45
Thank you

[2020-11-30 00:42] lyne408 opened #46 ".7z can encrypt file names, before extracting, how to check if it was encrypted?"

[2020-11-30 00:49] lyne408 opened #47 "."

[2020-12-02 02:01] lyne408 commented on #46
.

[2020-12-02 02:01] #46 closed

[2020-12-02 02:02] #47 closed

[2020-12-02 10:36] adoconnection commented on #47
my favorite types of issues, that solve itself with time :)

[2020-12-04 19:23] mgpreston commented on #45
@adoconnection Thanks for the great library!

If you also want to support single file deployment in .NET 5, you'll need to change the way the 7z.dll library is loaded. When `<IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>` is specified in the project file, the .dlls will be packaged in the single-file bundle, and will be extracted automatically, but there's no way

[2020-12-09 12:26] adoconnection commented on #45
Hi, thanks for kind words and detailed info! I’ll implement it as soon as got some spare time.

[2020-12-21 10:54] duckheadsoftware opened #48 "Update 7z.dll to latest (v19.x)"
I noticed the 7z.dll version used in the Nuget package is 18.5, can this be updated to 19.x ?

[2020-12-21 13:20] adoconnection commented on #48
yep, need to push new nuget version

[2021-01-04 07:11] wf-soft commented on #41
@adoconnection Hi! adoconnection! Is there a solution for running on Linux.

[2021-01-04 14:56] nightblade9 commented on #41
I don't think there is. I ended up reworking my project to remove 7zip because it didn't work on Linux.

[2021-01-11 15:25] fdameron opened #49 "Zip files over 4 gig."
Working with zip files containing image files. When the files are larger than 4 gigs, the files up to 4 gig extract just fine, but all other files after that are 0 or 1 byte. I can extract them just fine with 7-zip. Looking at the archive, every file up to the 4 gig mark show characteristics NTFS, all files after that show characteristics Zip64 NTFS. I've tried extract all files, extract files one

[2021-01-12 14:25] adoconnection commented on #49
Hi, I had this problem before but have no idea how to fix it :( Luckily it was a zip file so i switched to IconicZip for that particular case.

[2021-01-12 14:28] fdameron commented on #49
We switched from ioniczip due to zip64 exceptions. Guess I'll try the 7-zip console lib. Thanks anyway.

[2021-01-20 20:43] #34 closed

[2021-04-24 05:42] LavamasterYT opened #50 "Unable to cast COM object of type 'System.__ComObject' to interface type 'SevenZipExtractor.IInArchive'."
I have a project in .NET Core 3.1 and it will not extract an entry.
This is the code that is causing the issue, and it is happening in `archive.Entries[i].Extract(archive.Entries[i].FileName);`.
[code]

The exact error I get is this:
[code]

All I have done was install the Nuget package, and replace a old method I had used that involved `System.IO.Compression` to this.

[2021-05-23 07:13] tushinivan opened #51 "Application crash while getting Entries | System.AccessViolationException: "Attempted to read or write protected memory. This is often an indication that other memory is corrupt.""
Hi!
I have a project on .net 5 and I get an error when I try to unzip all occurrences, after which the application gets an unhandled exception and crashes.

My code:
[code]

Archive for testing: https://yadi.sk/d/dd3ZYRe5D89xzw

Error:
System.AccessViolationException: "Attempted to read or write protected memory. This is often an indication that other memory is corrupt."

Thanks for any help on th

[2021-05-27 01:12] makoshichi opened #52 "Is there a thread-safe way to extract files?"
Hi there!
I'm working on a library where I sometimes I will need to extract files in a new thread so it won't stall other things, but the following doesn't work:

        Task.Factory.StartNew(() =>
        {
            archiveFiles.ToList().ForEach(entry =>
            {
                var validPath = Path.Combine(destinationPath, targetFolder);
                Directory.CreateDirectory(validPa

[2021-09-24 08:31] jhaerig opened #54 "Exception "Unable to open archive" received when opening valid 7z archives"
Hello,

I recently found this project and tried to implement it in a download/extractor tool for 7z files.
The implementation worked flawless as there is almost nothing that could go wrong.

Then I ran into a problem that **some** 7z files I tried to unpack failed with "Unable to open archive". Other archives show no problem. I checked these bad archives with the original 7z Manager and no error w

[2021-09-25 19:26] adoconnection commented on #54
Can you upload archive itself so I can use it in unit test please.

[2021-09-27 07:05] jhaerig commented on #54
I found a easy way to generate an 7z archive to cause this issue.
Basically it's necessary to generate a 7z archive with a 5GByte large uncompressable binary blob file inside and then try to extract it.

The easiest way for me to generate a uncompressable binary file with specific size was to use VeraCrypt.
https://www.veracrypt.fr/en/Downloads.html

1. Generate VeraCrypt file with 5GB
2. Put that

[2021-10-31 21:41] jorensanbar opened #55 "Progress event"
I already tried, and I can unzip LZMA2 files without problem. But how can I have a Progress?

[2021-11-01 01:21] jorensanbar commented on #48
Nuget Still on 18.5 version (2021-10-31)

[2022-03-12 12:56] SteAmeR commented on #41
Do you have any plans to make this project compatible with Linux in the future?

[2022-03-12 22:04] adoconnection commented on #41
Hi, at this point ZevenZipExctractor rely on WinApi and Kernel32.dll in particular.
In order to work on linux, this has to be ported somehow, seems easy but I dont have resources to dive into marshaling .net core calls to native libs on linux.

Looking for someone to help me.

[2022-03-12 22:05] adoconnection commented on #41
this did not worked

[2022-03-12 22:08] adoconnection commented on #52
Some late reply for enyone stuck on this.
its because archiveFiles is defined in outer thread.

[2022-03-12 22:10] #52 closed

[2022-03-12 22:12] adoconnection commented on #54
This is still open problem, it is reproducible but I have no idea how to proceed.

[2022-03-12 22:13] #50 closed

[2022-03-12 22:13] adoconnection commented on #48
done

[2022-03-12 22:13] #48 closed

[2022-03-31 23:36] Pyroluk commented on #54
I am facing the same problem. Large archives are failing on the above-mentioned method. I tested the same archive with https://github.com/squid-box/SevenZipSharp and it worked flawlessly. Maybe their implementation of the open call can hint in the correct direction to solve the problem? Seems like they are using the callback of the function instead of passing in null? Maybe the [squid-box](https:/

[2022-04-05 00:21] Pyroluk commented on #54
Hi! I found the reason and solution.

SevenZipExtractor\SevenZipInterface.cs:415

StreamWrapper.Seek():
[code]

The cast to (uint) cripples everything larger than 2^32 aka 4GB. Remove the cast and everything works a treat!

andr_gin found and solved this bug 3 years ago in his comment on the original "[C# (.NET) Interface for 7-Zip Archive DLLs](https://www.codeproject.com/Articles/27148/C-NET-Int

[2022-04-05 17:30] adoconnection commented on #54
what a stupid line of code 🙈
@Pyroluk thanks!

[2022-04-08 11:30] adoconnection commented on #54
1.0.17 published!

[2022-04-08 11:30] adoconnection commented on #49
fixed in 1.0.17!

[2022-04-08 11:30] #49 closed

[2022-04-08 11:31] #54 closed

[2022-04-08 11:32] adoconnection commented on #21
is was probably due to VHD sive was over 4Gb which is fixed in 1.0.17!

[2022-04-08 11:32] #21 closed

[2022-04-08 11:33] adoconnection commented on #29
there is no meaningfull content in this issue, so closing it for now

[2022-04-08 11:33] #29 closed

[2022-05-24 19:19] ambs commented on #41
Hi. I lack knowledge on the details required, but I am happy to perform tests locally if that helps.

[2022-06-20 14:06] Vazgi opened #57 "I am unable to extract an .exe (7z self extracting archive) using SevenZipExtractor"
[code]
I get: : 'Object reference not set to an instance of an object.' archive and entries are null.

The library says it supports .exe.

Any idea how to fix this?
This is the command for creating the file:
`7z a -sfx7z.sfx "SelfExtractFile.exe"  "C:\Users\PC\Desktop\*.*" -mmt -r`

[2022-07-08 22:20] zydjohnHotmail opened #58 "How to chanage unzipped file folder?"
Hello:
I usually download a number of zipped files with multiple files inside, and default download drive is not big enough to hold many big files.
Therefore, I want to use the repo to unzip all the downloaded zip files to another drive.
But I can't figure out how to change the path for unzipped files.
Please advise.
I am using SevenZipExtractor 1.0.17 on Windows 10 (Version 21H2).
Thanks,

[2022-08-03 14:23] jorensanbar commented on #58
[code]

[2022-08-16 09:48] pwallner opened #59 "NET6 support"
Can you please add NET6 support? I tried to compile your source, works great (but I prefer the nuget packages to be uptodate). Only added `net6.0-windows` in target frameworks, hope this is the golden line.

Only one change necessary to prevent warnings during compilation time in file `SafeLibraryHandle.cs`, but it's only cosmetical thing I suppose (see also [here](https://docs.microsoft.com/de-de

[2022-08-17 11:03] fgimian commented on #57
I'm not the maintainer of this great library, but I suspect the problem you're facing is due to the fact that the library is guessing your archive is a PE archive.  Try open it like this:

[code]

Hope this help
Fotis

[2022-08-20 00:38] fgimian commented on #20
Hey there, looks like https://github.com/squid-box/SevenZipSharp implements multi-part archive support by creating an appended stream of all files.  See the `MultiStreamWrapper` class [here](https://github.com/squid-box/SevenZipSharp/blob/701bdafd8ef70201f93bfa89de0fccd182c94799/SevenZip/StreamWrappers.cs#L231).

I'll be attempting this approach with SevenZipExtractor using the `public ArchiveFile

[2022-08-20 07:01] adoconnection commented on #20
Is SevenZipSharp itself is capable of extracting multipart archives? If yes then its worth to dive in.

[2022-08-20 07:38] fgimian commented on #20
I'll test it out thoroughly tonight and let you know mate, thanks so so much for your amazing library. 😊

[2022-08-20 10:44] fgimian commented on #20
Okies, I've had some time to test this tonight with `Squid-Box.SevenZipSharp` and a multipart RAR file which I created from the PowerShell installer.

[code]

With the following code, I can confirm that it does seem to handle the multipart archive:

[code]

And as you can see, the extracted file is identical to the original MSI:

[code]

Perhaps with your experience of the 7-Zip SDK, you would be

[2022-08-20 22:12] fgimian commented on #20
The answer at https://sourceforge.net/p/sevenzip/discussion/45797/thread/79ecaee0/ may be helpful.

So you must implement IArchiveOpenVolumeCallback in IArchiveExtractCallback object.

[2022-08-22 07:19] Vazgi commented on #57
I have used another lib.

[2022-08-22 07:19] #57 closed

[2022-08-22 09:19] runemoennike commented on #55
We currently use the getOutputPath callback to show some sort of progress, but since actual exctraction happens after these callbacks, it's not very accurate.

@adoconnection do you know of a way to get progress from the underlying .dll? Then I'd be happy to implement it in here.

[2022-08-22 09:25] adoconnection commented on #55
@runemoennike Hi! Unfortunately I dont know

[2022-08-23 11:12] runemoennike commented on #55
@adoconnection @jorensanbar I've given it a shot [here](https://github.com/runemoennike/SevenZipExtractor/tree/55), where I've added optional callbacks to Extract() on Entry and ArchiveFile. However, my new unit tests are currently failing for everything but the 7zip format :( It seems the SetCompleted and SetTotal on IArchiveExtractCallback are not called consistently across formats.

[2022-08-24 07:22] runemoennike commented on #55
@adoconnection I managed to standardize so the callback is invoked at least at the beginning and end of each extracted file, so I've created this PR: https://github.com/adoconnection/SevenZipExtractor/pull/60

[2022-09-05 07:43] pia29 opened #61 "Is it possible to extract files from single zip file in parallel"
For me, for files with size > 1MB, in parallel execution
meta data is not getting copied for dll files

[2022-09-05 07:46] adoconnection commented on #61
nust to be sure, whats your bottleneck, CPU or Disk?

[2022-09-05 07:55] pia29 commented on #61
actually i am extracting wim file which has lakhs of files, this is done in azure function. Azure function has timeout currently for half hour, this extraction is taking more than 1 hour, so that's why, i was trying to do it in parallel.

My current code:
 using (ArchiveFile archiveFile = new ArchiveFile(wimCompleteFilePath))
            {
                var data = archiveFile.Entries;

[2022-09-05 08:00] adoconnection commented on #61
most likely you are facing this issue: https://github.com/adoconnection/SevenZipExtractor/wiki/Extracting-from-solid-archives

does this work in azure functuins?
[code]

[2022-09-05 08:53] pia29 commented on #61
This is working but problem with this is
1. Takes a lot of time
2. Timestamps get modified.

thank you for the suggestion and quick response.

[2022-11-02 07:41] MichaelSong9 commented on #28
is not support password?
I also need this function